<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Othello Game</title>
    <link rel="icon" href="static/image/favicon.ico" id="favicon">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/config.js"></script>
    <script src="static/js/guiDrawer.js"></script>
    <script src="static/js/othello.js"></script>
    <script src="static/js/main.js" async></script>
</head>
<body>
    <div id="game-field">
        <div id="title">OTHELLO GAME</div>
        <canvas id="othello-board"></canvas>
        <div id="mesh"></div>
        <canvas id="othello-info"></canvas>
        <button onclick="updateBoardTest();">Update Board Test</button>
    </div>
</body>
</html>